/* About */
section#about {
    background: white;
    max-width: 960px;
    width: 100%;
    color: black;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 50px 30px 100px 30px;
    overflow: hidden;
}
section#about h1 {
    color: #b01111;
    margin-bottom: 23px;
    padding-top: 40px;
}
section#about a {
    text-decoration: none;
    color: #b01111;
    display: inline-block;
}
section#about a:hover {
    color: #f0b000;
}
section#about p {
    width: 40%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 45px;
}
.map {
    border:0;
    float: left;
    padding-right: 30px;
    min-width: 450px;
    width: 50%;
    height: 370px;
    box-sizing: border-box;
    margin: 0;

}
#businessDetails {
    width: 48%;
    float: left;
    text-align: left;
    margin-top: 10px;
    box-sizing: border-box;
}
#businessDetails img {
    vertical-align: middle;
    margin: 7px;
}
#trading-hours {
    margin-top: 25px;
}
#infoMin li {
    width: 100%;
    text-indent: 36px;
    padding: 6px;
    display: block;
}