/* Consulting */
section#consulting {
    background: url(../../media/consulting-banner.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-bottom: 40px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
#consulting div.hand-image {
    margin: 90px 110px 0 0;
}
#consultingContent {
    position: relative;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
    background-color: #b01111;
    overflow: hidden;
}
#consultingContent h1 {
    color: #b01111;
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 18px;
}
.dropdown {
    display: block;
    position: relative;
    text-align: center;
    margin: 8px auto;
    z-index: 2;
    max-width: 900px;
    width: 100%;
    -webkit-user-select: none;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
}
.dropdown a img {
    margin-top: 6px;
}
.dropdown:last-child {
    margin-bottom: 100px;
}
.dropdown div {
    position: relative;
}
.dropdown h1 a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #b01111;
    width: 100%;
    margin: 0;
    padding: 0;
}
.dropdown h1 {
    display: block;
    width: 100%;
    line-height: 50px;
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: -30px;
    box-sizing: border-box;
    -webkit-user-select: none;
    background-color: white;
    cursor: pointer;
}
.dropdow h1:focus {
    -webkit-user-select: none;
}
.dropdown img {
    position: absolute;
    right: 32px;
    height: 30px;
    padding: 6px 40px 0 0;
}
.dropdown p {
    display: block;
}
#workplaceConsultancy, #preemployment,#manualHandling, #jobTask, #workstationSetup, #functionalCapacity, #workCover {
    display: none;

    padding: 30px 50px 10px 50px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

#workplaceConsultancyToggle, #preemploymentToggle,#manualHandlingToggle, #jobtaskToggle, #workstationSetupToggle, #functionalCapacityToggle, #workcoverToggle {
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}