header {
    position: fixed;
    padding: 0 150px;
    background: black;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}
header a {
    text-decoration: none;
    color: white;
}
/* End of Global Pre-Settings */
#logo {
    display: inline-block;
    height: 35px;
    text-align: center;
    margin-top: 5px;
    margin-right: 60px;
    box-sizing: border-box;
    float: left;
}
nav {
    line-height: 50px;
    width: auto;
    float: left;
}
nav li {
    list-style: none;
    display: inline;
    text-align: center;
    box-sizing: border-box;
    font-family: "Open Sans", "serif";
    font-size: 15px;
    margin: 0;
}
nav li ul { /*Sub-Menu*/
    display: none;
}
nav li a {
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    transition: all 0.2s ease;
}
nav li a:hover {
    background-color: #b01111;
}
a.nav-active {
    background-color: #b01111;
}
#mobile-nav {
    display: none;
}
#mobile-nav:active {
    display: none;
}
#social-menu {
    display: none;
}
#social li{
    float: right;
    list-style: none;
    display: inline;
    padding: 0 6px;
    line-height: 50px;
}
#social li a img {
    transition: all 0.2s ease;
    height: 32px;
    vertical-align: middle;
}
#social li a img:hover {
    transform: scale(1.2);
}
#fb-appOpen {
    display: none;
}
#home {
    background: url(../../media/jumbotron.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
#overlay .button {
    padding: 12px 30px 12px 30px;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    max-width: 773px;
    float: right;
    height: 100%;
    text-align: center;
    padding: 90px 20px;
    box-sizing: border-box;
    color: white;
}
#overlay p {
    padding: 50px 0 0 0;
    font-family: "Open Sans", "serif";
    font-size: 15px;
    line-height: 26px;
}
#overlay-logo {
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}
#mobile-icon {
    display: none;
}
.button {
    display: inline-block;
    background-color: #b01111;
    padding: 0 30px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", "serif";
    font-weight: 400;
    margin: 65px 0 0 0;
    transition: background-color 0.2s ease;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-user-select: none;
}
.button:hover {
    background-color: #f0b000;
}
.button:focus {
    -webkit-user-select: none;
}
.button img {
    vertical-align: middle;
    height: 16px;
    margin-top: -5px;
    display: inline;
}
.button p {
    line-height: 20px;
    display: inline-block;
    padding: 13px 10px 12px 10px;
}

/* Top Information Container */
#top-information {
    width: 100%;
    position: relative;
}
#topinfo-graphic {
    margin: 0;
    width: 40%;
    float: left;
    padding: 10px 50px 40px;
    box-sizing: border-box;
}
.innercontainer {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
}
#top-information p {
    text-align: left;
    padding: 25px;
}

.red {background: #b01111}
.gold {background-color:#f0b000;}
.grey {
    background-color: #222222;}


#squarelinegraphic {
    width: 100%;
}
.smallsquare {
    width: 10%;
    padding-bottom: 10%;
    display: inline-block;
    margin: 0;
    float: left;
}