@media screen and (max-width: 1080px) {

    /* Portable Navigation */
    header {
        padding: 0;
        text-align: center;
        overflow: hidden;
        box-sizing: border-box;
        min-height: 50px;
        background-color: rgba(0,0,0,0.92);
        min-width: 320px;
    }
    nav {
        display: none;
    }
    #logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 25px;
        box-sizing: border-box;
    }
    #mobile-icon {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: inline-block;
        height: 57px;
        padding-left: 4px;
        padding-top: 22px;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }
    section#about p {
        width: 100%;
        clear: both;
    }
    .map {
        width: 50%;
        float: left;
        max-width: 470px;
        box-sizing: border-box;
    }
    #businessDetails {
        width: 40%;
        float: right;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* dropdwon menu */

    #mobile-nav {
        display: none;
    }
    #mobile-nav ul {
        width: 100%;
        margin-top: 49px;
    }
    #mobile-nav li a {
        display: block;
        margin: 0 auto;
        width: 100%;
        list-style: none;
        padding: 20px;
        border-bottom: 1px solid #333333;
        box-sizing: border-box;
    }
    #mobile-nav li a:last-child {
        border-bottom: none;
    }
    #facebook {
        float: right;
        padding: 20px;
    }
    #facebook img {
        width: 40px;
    }
    #mobile-nav li a:hover {
        background-color: #b01111;
    }
    .pilates h2 {
        font-size: 15px;

    }

    /* Rest of Styling (Vertically Chronological */
    .hide > ul:nth-of-type(1) {
        width: 50%;
        padding-left: 50px;
        position: relative;
        float: left;
    }
    .hide > ul:nth-of-type(2) {
        padding-right: 20px;
    }
    #social {
        display: none;
    }
    #info {
        height: auto;
    }
    #info article {
        margin: 40px 12px;
        width: 96%;
        clear: both;
        max-width: 100%;
    }
    #info article:last-child {
        margin-bottom: 120px;
    }
    .hand-image {
        margin: 7px;
    }
    #consulting div.hand-image {
        margin: 0 8px;
    }
    #contact {
       display: none;
    }
    #about {
        display: none;
    }
    .dropdown h1 {
        font-size: 14px;
    }
    .dropdown h1 a {
        background-color: transparent;
    }
    .dropdown p {
        font-size: 14px;
        padding: 40px;
        background-color: transparent;
    }
    .dropdown {
        padding: 0 10px;
    }
    #workplaceConsultancy, #preemployment,#manualHandling, #jobTask, #workstationSetup, #functionalCapacity, #workCover {
        display: none;
        background-color: transparent;
        padding: 50px 50px 50px 50px;
        box-sizing: border-box;
        text-align: left;
        position: relative;

    }

    #workplaceConsultancyToggle, #preemploymentToggle,#manualHandlingToggle, #jobtaskToggle, #workstationSetupToggle, #functionalCapacityToggle, #workcoverToggle {
        cursor: pointer;
        -webkit-user-select: none;
        background-color: white;
    }

    /* Staff Page Settings */

    #grid-container {
        width: 100%;
        bottom: 0;
}
    .picture {
        width: 50%;
        padding-bottom: 50%
    }
    #float {
        width: 0%;
        float: right;
        padding: 2px;
        margin: 0;
    }
    #information-container, #information-title {
        display: none;
    }
    .slide:nth-of-type(1) {
        float: left;
    }
    #kelly, #michael, #scott, #caolan, #alex, #violet, #red1 {
        cursor: default;
    }
    #stafftitlebanner {
        line-height: 70px;
        width: 100%;
        background: #333333;
        text-align: center;
        color: white;
        display: block;
        position: relative;
    }
    .containerslide-left {
        overflow: hidden;
        padding: 0;
        min-height: 466px;
    }


    .mobileright {
        margin-left: 50%
    }
    .bodytext article:nth-of-type(2) {
        width: 50%;
        float: left;
        margin-top: 10px;
        padding: 40px;
        box-sizing: border-box;
    }
    .staff-content {
        display: block;
        width: 50%;
        padding: 30px;
        box-sizing: border-box;
        float: left;
        overflow: hidden;
        max-height: 406px;
    }
    .default, .default h2 {
        color: white;
        padding-bottom: 5px;
    }
    .staff-content p {
        font-weight: 500;
        text-align: justify;
        padding-bottom: 10px;
    }
    .inverse, .inverse h2 {
        color: #333333;
        padding-bottom: 5px
    }
    #staff em {
        text-align: center;
    }
    .inverse p {
        font-weight: 600;
    }
    .right {
        text-align: justify;
    }
}

/* Tablet breakpoint (DEVICE TESTED - Samsung Galaxy Tab A 8"*/

@media screen and (max-width: 926px) {
    article img {
        padding-bottom: 8px;
    }
    .outer div.overlay {
        display: none;
    }
    .button img {
        height: 26px;
        margin-top: 3px;
    }
    .map {
        height: 320px;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    #contactInfo {
       display: inline-block;
        width: 40%;
        float: left;
        margin-left: 50px;
        font-size: 14px;
    }
    #trading-hours {
        font-size: 15px;
        display: inline-block;
        width: 40%;
        float: right;
        padding-top: 0;
    }
    section#about {
        padding: 0;
    }
    section#about p {
        padding: 0 20px 40px 20px;
    }
    .left-column {
        width: 100%;
        text-align: center;
    }
    #handprints {
        display: none;
    }
    .right-column {
        width: 100%;
        float: left;
        padding-left: 35px;
        box-sizing: border-box;
    }
    .right-column p {
        width: 50%;
        float: left;
    }
    .right-column img {
        width: 50%;
        float: right;
    }
    #businessDetails {
        width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
        padding-bottom: 80px;
        margin-left: 0;
    }
    #trading-hours {
        width: 40%;
        float: right;
    }
    .bodytext article:last-of-type {
        width: 100%;
        clear: both;
        float: left;
    }
    .bodytext article:nth-last-of-type(2) {
        width: 100%;
        float: left;
        margin-top: 0;
    }
    .hide {
        width: 100%;
    }
    #treatment section > section:nth-of-type(1) {
        position: relative;
    }
    .price {
        width: 40%;
        float: left;
        clear: left;
        margin-top: 0;
        z-index: -10;
    }
    .pilates {
        width: 60%;
        margin: 42px 0;
        float: right;
        border: none;
    }
    .special {
        width: 60%;
        z-index: 9999999;
    }

}

@media screen and (max-width: 818px) {
        #staff {
        display: block;
    }
    #staff h1 {
        background-color: #111111;
    }
    #staff section div {
    background-color: #111111;
    color: #444444;
    padding: 0;
    min-height: 0;
    }
    #staff section div div p {
    background-color: white;
    padding: 90px 30px 50px 30px;
    font-size: 19px;
    font-weight: 600;
    display: none;
    }
    .staff-expand {
        background:url(../../media/collapse.png) no-repeat;
        background-position: 97% center;
        background-size: 31px;
    }
    #staff section div div h2 {
    color: #f0b000;
    text-align: center;
    padding: 9px;
    }
    #staff section div img {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 17px;
    background-color: #b01111;
    position: relative;
    }
    #staff section div div {
    width: 100%;
    float: left;
    max-height: none;
    padding: 0;
    }
    #grid-container {
        padding: 0;
    }

}

@media screen and (max-width: 700px) {
    .dropdown img {
        padding-top: 11px;

    }


    .dropdown h1 {
        right: 0;

    }

    .map {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #trading-hours ul {
        margin-left: -17px;
        overflow: hidden;
        padding: 0;
        width: 100%;
        list-style-position: inside;
    }

    #trading-hours li {
        margin: 0;
    }


}
@media screen and (max-width: 626px) {
    .map {
        min-width: 1px;
    }
    }
/* Mobile Breakpoints (DEVICE TESTED = Samsung Galaxy Note 5/ Galaxy 4/ iPhone 6s */
@media screen and (max-width: 525px) {

    /* Staff Page */




    .line {display:block;height:2px;background-color:white;width:20%;margin:0 auto;}
    #home {
        height: 580px;
    }
    img.arrowDown {
        display:inline-block;
        height: 20px;
        float:left;padding:0;margin-top:17px;
    }
    .dropdown img {

    }
    #fb-appOpen {
        display: block;
        float: right;
        padding: 20px;
    }
    .dropdown h1 {
        background-color: transparent;
        color: white !important;
        font-size: 15px !important;
    }
    .dropdown > h1 img:first-of-type {
        display: none;
    }
    #fb-appOpen img {
        width: 30px;
    }
    #facebook {
        display: none;
    }
    #consultingContent {
        padding-top: 1px;
    }
    #consultingContent a {
        width: 65%;
        margin: 0 auto;
        padding: 15px 0;
        line-height: 20px;
        color: white;
    }
    .dropdown {
        background-color: #b01111;
        border: none;
        margin: 0;
    }
    .dropdown p {
        padding: 35px 35px 0 35px;
        display: block;
        border-radius: 7px;
    }
    .dropdown img {
        display: block;
    }
    .dropdown:last-child {
        margin-bottom: 13px;
    }
    #workplaceConsultancyToggle, #preemploymentToggle,#manualHandlingToggle, #jobtaskToggle, #workstationSetupToggle, #functionalCapacityToggle, #workcoverToggle {
        background-color: transparent;
    }
    #workplaceConsultancy, #preemployment,#manualHandling, #jobTask, #workstationSetup, #functionalCapacity, #workCover {
        padding: 25px 25px 20px 25px;

        background-color: white;

        width: 95%;
    }
    #contactInfo {
        display: none;
    }
    #trading-hours {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    #mob-footer {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: rgba(0,0,0,0.93);
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        z-index: 9999999;
    }
    #mob-footer img {
        height: 45px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        cursor: pointer;
        box-sizing: border-box;
    }
    #isOpen {
        color: white;
        text-align: right;
        line-height: 45px;
        float: right;
        margin-right: 25px;
        font-family: "Titillium Web", "serif";
        font-weight: 300;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #indicator {
        display: block;
        width: 16px;
        height: 16px;
        margin: 14px 7px 14px;
        float: right;
        box-sizing: border-box;
        border-radius: 50%;
    }
    .outer {
        display: none;
    }
    .pilates {
        width: 100%;
        float: left;
        margin: -10px 0 0 0;
    }
    .pilates-hide p {
        padding: 15px;
        font-size: 18px;
        text-align: justify;
    }
    .price {
        width: 100%;
    }
    .special {
        width: 100%;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    .special p {
        position: relative;
        float: left;
        text-align: center;
        margin: -5px;

    }
    .special img {
        margin-left: 40%;
        position: relative;

    }
    .hide ul:last-of-type {
        padding: 17px 0;
    }
    .hide ul li {
        margin: 3px;
    }
}
@media screen and (max-width: 380px) {
    .map {
    height: 220px;
    }
    section#about {
        padding: 0;
    }
    section#about p {
        padding: 20px;
    }
}

/* Mobile Landscape Breakpoint */
@media screen and (max-width: 819px) and (max-height: 540px) {
    #overlay {
        height: 100vh;
        max-width: 100vw;
    }
    #overlay-logo {
        width: 30%;
        margin: 0 auto;
        min-width: 250px;
        margin-bottom: 30px;
    }
    #overlay p {
        display: none;
    }
    #overlay a {
        display: block;
        width: 180px;
        position: relative;
        margin: 20px auto;
    }
    #contact-button {
        display: none;
    }
}
@media screen  and (min-width: 1200px)and (max-height: 420px) {

    #overlay p {
        display: none;
    }
    #overlay a {
        float: right;
        clear: both;
        font-size: 14px;
    }
}
@media screen and (max-height: 325px) {

    #overlay-logo {
        margin-top: -30px;
    }
}

@media screen and (max-width: 784px) and (max-height: 484px) {
    #overlay-logo {
        margin-top: 50px;
        min-width: 250px;
    }
    #overlay p {
        display: none;
    }
    #information-title p {
        font-size: 14px;
    }
}
@media screen and (max-width: 321px) and (max-height: 532px) {
    #overlay-logo {
        min-width: 250px;
        margin-bottom: 80px;
    }

}
@media screen and (max-width: 780px) and (max-height: 683px) {
    #information-content {
        font-size: 14px;
    }
    .picture {width: 100%;padding-bottom:100%;}
    .blank {display: none;}

    #title-text {
        font-size: 16px;
    }
    #information-container {
        padding: 3px;
        margin: 0;
    }

}