/*Staff Grid Section */

#staff {
    position: relative;
    width: 100%;
    background-color: white;
    float: left;
    margin-top: 40px;
}

#grid-container {
    width: 30%;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 0;
}

#information-title {
    background-color: #222222;
    width: 70%;
    height: 80px;
    float: left;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
#title-text {
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 28px;
    color: white;
}

#information-container {
    width: 70%;
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    padding: 45px;
}
#information-container a, h2 {
    color: #b01111;
}
#information-container a:hover {
    color: #f0b000;
}
.staff-content {
    display:none;
}



.red {background: #b01111}
.gold {background-color:#f0b000;}
.grey {
    background-color: #222222;}

#kelly, #michael, #scott, #caolan, #angela, #violet, #red1 {
    cursor:pointer;
}
.slide {
    margin-left: 0;
    position: absolute;
    width: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
}

.containerslide-left {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 50%;
    clear: both;
    margin-left: 0;
}

.fixto-fixed {
    background-color: white;
    width: 70%;
    margin-left: 30%;
    float: left;
}
#stafftitlebanner {
    display: none;
}

#test {
    width: 100%;
    position: relative;
    overflow: hidden;
}