/* Global Pre-Settings */
#mob-footer {
    display: none;
}
p, a, h1, h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    -webkit-tap-highlight-color: transparent;
}
html, header, footer, body, h1, h2, h3, h4, p, a, article, aside, section, ul, ol, li {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: "Open Sans", "serif"
}
main {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.clearfix {
    overflow: auto;
    zoom: 1;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/* Treatment */

h1 {
    color: #b01111;
    text-align: center;
    font-size: 28px;
}

#treatment {
    width: 100%;
    position: relative;
    overflow: hidden;
}
#treatmentbanner {
    background: url(../../media/treatment-banner.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

            /* Banner Handprint Graphic */

            .hand-image {
                background: url(../../media/hand-large.png) no-repeat;
                background-size: 60%;
                background-position: center;
                margin: 0 100px 0 0;
                float: right;
                max-width: 340px;
                width: 95%;
                height: 240px;
                box-sizing: border-box;
                color: white;
                text-align: center;
            }
            .hand-image h1 {
                background-color: #b01111;
                display: inline-block;
                padding: 6px 25px;
                font-weight: 600;
                margin-top: 95px;
                text-transform: uppercase;
                border-radius: 25px;
                margin-bottom: 14px;
                font-size: 19px;
                color: white;
            }
            .hand-image p {
                display: inline-block;
                background-color: black;
                border-radius: 25px;
                padding: 6px 25px;
                font-size: 14px;
            }


                /* Vertical Handprint Graphic */

                #handprints {
                    margin-top: 25px;
                    width: 10%;
                    float: left;
                    text-align: center;
                    box-sizing: border-box;
                }
                #handprints img {
                    padding-right: 18px;
                    margin-bottom: 25px;
                }

/* 2nd Content Block */

.bodytext {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
}

.bodytext p {
    text-align: left;
}

.bodytext li {
    display: list-item;
    width: 100%;
    padding: 0;
}
.bodytext ul {
    padding: 17px 0 55px 0;
    box-sizing: border-box;
    list-style-position: inside;
}

.bodytext h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #b01111;
}

                /* List-Item Graphic Classes */

                .red-li {
                    background-image: url(../../media/hpr.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: left center;
                    line-height: 20px;
                    list-style: none;
                }
                .gold-li {
                    background-image: url(../../media/hpy.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: left center;
                    line-height: 20px;
                    list-style: none;
                }
                .grey-li {
                    background-image: url(../../media/hpg.png);
                    background-repeat: no-repeat;
                    background-size: 30px;
                    background-position: left center;
                    line-height: 20px;
                    list-style: none;
                }
/* Toggle Headers */

#treatment-information h2 {
    color: #b01111;
    width: 100%;
    line-height: 60px;
    margin: 0;
    cursor: pointer;
    position: absolute;
}


        /* Services Unordered List */

        .hide {
            width: 75%;
            max-width: 960px;
            box-sizing: border-box;
            float: left;
            position: relative;
            border-radius: 3px;
        }
        .hide p {
            text-align: center;
            padding-top: 20px;
            margin: 0;
        }
        .hide > ul li p {
            margin: 0;
            font-size: 15px;
            text-align: left;
            padding-left: 38px;
            padding-bottom: 18px;
            line-height: 20px;
        }

        .hide > ul:nth-of-type(1) {
             width: 50%;
             padding-left: 130px;
             position: relative;
             float: left;
         }
        .hide > ul:nth-of-type(2) {
            width: 50%;
            padding-left: 120px;
            float: left;
            position: relative;
        }
        .hide > ul:nth-of-type(3) {
            width: 20%;
            margin: 0 auto;
            text-align: center;
            position: relative;
        }


        /* Price List */
        .price {
            width: 25%;
            float: left;
            position: relative;
            background-color: #b01111;
            text-align: left;
            padding: 25px;
            box-sizing: border-box;
            color: white;
            margin-top: 4%;
        }
        .pilates {
            background-color: teal;
            position: relative;
            float: left;
            width: 45%;
            border-left: 60px solid white;
            border-right: 60px solid white;
            box-sizing: border-box;
            margin-top: -30px;
        }
        .pilates img {
            padding: 20px;
            width: 80px;
            float: left;
        }
        .pilates-hide h2 {
            color: white;
            padding: 25px 32px;
            font-size: 20px;
        }
        .pilates-hide p {
            color: white;
            padding: 0 65px 65px 65px;
            font-size: 21px;
            display: none;
        }
        .pilates  div.learnmore {
            margin: 14px auto;
            display: block;
            border-radius: 20px;
            cursor: pointer;
            width: 150px;
            background-color: white;
        }
        .learnmore p {
            display: block;
            text-align: center;
            padding: 10px 25px;
            font-family: "Open Sans", "serif";
            font-weight: 700;
            color: teal;
            font-size: 15px;

        }

        .special {
            display: block;
            float: right;
            width: 51%;
            max-width: 700px;
            margin-bottom: 10px;
            background-color: #f0b000;
            font-weight: 600;
            color: #222222;
        }
        .special img {
            display: inline;
            float: left;
            width: 50px;
            margin-top: -10px;
            z-index: 999;
            margin-left: -35px;
            background-color: white;
            border-radius: 50%;
        }
        .special p {
            padding: 20px;
        }


/* Treatment - Body Text Article Layout */

.bodytext article:nth-of-type(2) {
    width: 50%;
    clear: left;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}
.bodytext article:nth-of-type(2) img.provider {
    width: 100%;
}
.bodytext article:nth-of-type(3) {
    width: 50%;
    float: left;
}

/* Treatment Method Grid */
.outer {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    bottom: 0;
}

.outer div.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.outer div.overlay h1 {
    display: block;
    font-size: 32px;
    color: white;
    width: 80%;
    margin: 47% auto;
    padding-bottom: 14px;
    border-bottom: 1px solid
}

.treatment-method-grid {
    width: 50%;
    min-width: 200px;
    min-height: 200px;
    padding-bottom: 50%;
    background-color: blue;
    float: left;
    box-sizing: border-box;
    position: relative;
}


.treatment-method-grid div p {
    text-align: center;
    padding: 15px;
    letter-spacing: 0.5px;

}


.method {
    margin: 0;
    color: white;
    padding: 25px 0;
    background-color: rgba(255,255,255,0.05);
    height: 100%;
    top: 0;
    box-sizing: border-box;
}
#method1, #method2, #method3, #method4 {
    display: none;
    margin: 0;
    font-weight: 600;
}
#method1 {
    background: url(../../media/heat-hover.png) white no-repeat;
    background-size: 20%;
    background-position: center center;
    color: black;
}
#method1 h2, #method4 h2 {
    color: black;
}
#method3 h2 {
    color: white;
}
#method2 h2 {
    color: #222222;
}
#method2 {
    background: url(../../media/tens-hover.png) #f0b000 no-repeat;
    background-size: 20%;
    background-position: center center;
    color: #222222;
    font-weight: 600;
}
#method3 {
    background: url(../../media/tape-hover.png) #333333 no-repeat;
    background-size: 20%;
    background-position: center center;
    color: white;
}
#method4 {
    background: url(../../media/needle-hover.png) white no-repeat;
    background-size: 20%;
    background-position: center center;
    color: black;
}


.treatment-method-grid div {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 86%;
}

.treatment-method-grid:nth-of-type(1) {
    background: url(../../media/heat.png) #b01111 no-repeat;
    background-size: 50%;
    background-position: center center;
}
.treatment-method-grid:nth-of-type(2) {
    background: url(../../media/tens.png) #333333 no-repeat;
    background-size: 50%;
    background-position: center center;
}
.treatment-method-grid:nth-of-type(3) {
    background: url(../../media/tape.png) #f0b000 no-repeat;
    background-size: 50%;
    background-position: center center;
}
.treatment-method-grid:nth-of-type(4) {
    background: url(../../media/needle.png) #b01111 no-repeat;
    background-size: 50%;
    background-position: center center;
}

